node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Logs
logs/*.log
*.log

# IDE
.cursor/
.vscode/
.idea/

# Misc
*.zip
MAILTRAP_SETUP.md
.nojekyll
.npmrc

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
